{% extends 'menu/base.html' %}

{% block menu_title %}Delete Category{% endblock %}

{% block menu_content %}
<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete "{{ object }}"?</p>
            <div class="mt-3">
                <button type="submit" class="btn btn-danger"><i data-feather="trash-2" class="me-1"></i>Delete</button>
                <a href="{% url 'menu:category_list' %}" class="btn btn-secondary"><i data-feather="x" class="me-1"></i>Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}

