{% extends 'menu/base_menu.html' %}

{% block menu_title %}Delete Menu Item{% endblock %}

{% block menu_content %}
<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete "{{ object }}"?</p>
            <div class="mt-3">
                <button type="submit" class="btn btn-danger">Delete</button>
                <a href="{% url 'menu:item_list' %}" class="btn btn-outline-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}

